body,html{
    height: 200%;
    margin: -10px;
    background-color: #750505;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    transition: .3s ease all;
}
.wrapper{
  height: 100%;
  background-color:#f5e97b;
}

.container-btn-mode{
  position: fixed;
  top:480px;
  right: 630px;
  cursor: pointer;
  z-index: 2;
  font-size:0;
}
.btn-mode{
  display: inline-block;
  width: 50px;
  height: 30px;
  border:2px solid black;
  transition: background-color .5s;
}
.btn-mode i {
  display: block;
  font-size: 17px;
  text-align: center;
  line-height: 30px;
}
.btn-mode.sun{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: 1px solid transparent;
}
.btn-mode.moon{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.active{
  background-color:black;
  color:#ffcd5c !important;
}
form{
    text-overflow: clip;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: medium;
}
h1{
    color: rgb(145, 124, 4);
}
footer{
    text-align: center;
    background-color: rgb(3, 3, 3);
    color:white;
    border-radius: 10px;
}

.dark-mode p{
    color:rgb(248, 244, 13);
}

.dark-mode{
  background-color: #000000;
  transition:background-color .5s;
}
.dark-mode label{
  color:rgb(2, 250, 229);
}
.dark-mode h1{
  color:#e62aad;
}
.dark-mode .btn-mode{
  background-color:#1A1C1E;
  border:1px solid white;
  color:white;
}
